
/****Toolbar *****/
mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.username {
  margin-right: 10px;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.toolbar-button {
  margin-right: 10px; 
}
/*********/
.editor-container {
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-bottom: 0px;
  padding: 10px;
  height: auto;
}

.search-field {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.editor-textarea-field {
  width: 100%;
  margin-top: 10px;
  flex-grow: 1; /* Allow it to grow to occupy available space */
}

.editor-textarea {
  height: 55vh!important; /* Set height to 60vh */
}

.editor-button {
  margin-left: auto;
  display: block;
 
}

.dropdown-field {
  width: 100%;
  margin-top: 10px;
}

.toggle-container mat-slide-toggle {
  display: block; /* Each toggle on a new line */
  margin-bottom: 10px; /* Space between toggles */
}

.editor-mat-slide-toggle {
  margin-top: 16px;
}

/**(********* override material *********/
.mat-expansion-panel-header {
  font-size: 16px; /* Increase font size */
}

.mat-expansion-panel-header mat-icon {
  margin-right: 10px; /* Add space between the icon and the text */
}

/* Media query for further adjustments for smaller screens */
@media (max-width: 600px) {
  .editor-container {
    padding: 5px;
  }

  .editor-textarea {
    font-size: 12px;
    height: 30vh;
  }
}
