
/****Toolbar *****/
mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.username {
  margin-right: 10px;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.toolbar-button {
  margin-right: 10px; 
  border-radius: 50%;
  background-color:#e1e1e1;
}

.toolbar-button .fas{
  margin-left: -3px;
}
/*********/
.editor-container {
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-bottom: 0px;
  padding: 10px;
  height: auto;
}

.search-field {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 5px;
}


.editor-mat-slide-toggle {
  margin-top: 16px;
}

.username-ellipsis {
  width: 30%; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}


/**(********* override material *********/
.mat-expansion-panel-header {
  font-size: 16px; /* Increase font size */
}

.mat-expansion-panel-header mat-icon {
  margin-right: 10px; /* Add space between the icon and the text */
}