<mat-toolbar>
  <ng-container *ngIf="isLoggedIn$ | async">
    <img
      class="user-image"
      [src]="userImage$ | async"
      referrerpolicy="no-referrer"
      alt="User Image"
    />
    <span class="username">{{ userName$ | async }}</span>
    <button
      mat-raised-button
      class="toolbar-button"
      (click)="OnLogout()"
      aria-label="Login"
    >
      Sign Out
    </button>
  </ng-container>
  <span class="spacer"></span>
  <ng-container *ngIf="(isLoggedIn$ | async) === false">
    <button
      mat-raised-button
      class="toolbar-button"
      (click)="onLogin()"
      aria-label="Login"
    >
      Login
    </button>
  </ng-container>

  <button
    mat-raised-button
    (click)="onClose()"
    class="toolbar-button"
    aria-label="Close"
  >
    Close
  </button>
</mat-toolbar>
<div class="editor-container">
  
  <mat-accordion>
    <!-- Editor Section -->
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title> <mat-icon>edit</mat-icon> Editor </mat-panel-title>
      </mat-expansion-panel-header>

      <mono-repo-markdown [markdown]="(markdown$ | async) || ''"></mono-repo-markdown>
    
    </mat-expansion-panel>

    <!-- Settings Section -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>settings</mat-icon> Settings
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngIf="editor$ | async as editor">
      <!-- Theme Dropdown -->
      <mat-form-field class="dropdown-field">
        <mat-label>Theme</mat-label>
        <mat-select [value]="editor.themeSelected" (valueChange)="updateTheme($event)">
          <mat-option *ngFor="let theme of themes" [value]="theme">{{
            theme
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Animation Dropdown -->
      <mat-form-field class="dropdown-field">
        <mat-label>Animation</mat-label>
        <mat-select
        [value]="editor.animationSelected"
          (valueChange)="updateAnimation($event)"
        >
          <mat-option
            *ngFor="let animation of animations"
            [value]="animation"
            >{{ animation }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <!-- Slide Toggles -->
      <div class="toggle-container">
        <mat-slide-toggle
          class="editor-mat-slide-toggle"
          [ngModel]="editor.showPen"
          (change)="updateShowPen($event)"
          aria-label="Show Pen"
          >Show Pen</mat-slide-toggle
        >
        <mat-slide-toggle
          class="editor-mat-slide-toggle"
          [ngModel]="editor.showDrawingArea"
          (change)="updateShowDrawingArea($event)"
          aria-label="Show Drawing Area"
          >Show Drawing Area</mat-slide-toggle
        >
        <mat-slide-toggle
          class="editor-mat-slide-toggle"
          [ngModel]="editor.showSlides"
          (change)="updateShowSlides($event)"
          aria-label="Show Slides"
          >Show Slides</mat-slide-toggle
        >

        <mat-slide-toggle
          class="editor-mat-slide-toggle"
          [ngModel]="editor.showAutoSlide"
          (change)="updateShowAutoSlides($event)"
          aria-label="Auto Play"
          >Auto Play</mat-slide-toggle
        >
      </div>
    </ng-container>
    </mat-expansion-panel>

    <!-- Publish Section -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>publish</mat-icon> Publish
        </mat-panel-title>
      </mat-expansion-panel-header>
          <mono-repo-publish 
                [name]="(name$ | async) || ''"
                [viewUrl]="(viewUrl$ | async) || ''"
                [editUrl]="(editUrl$ | async) || ''"
                [allowEdit]="(allowEdit$ | async) || false"
                [isUserLogin]="(isLoggedIn$ | async) || false"
                [loginText]="(loginFeatureText$ | async) || '' "
                [presentations]="(userPresentations$ | async) || []"
                [selectedPresentationId]="(selectedPresentationId$ | async)"
                  > 
          </mono-repo-publish>
  </mat-expansion-panel>
  </mat-accordion>

</div>