<button
  [matMenuTriggerFor]="rootMenu"
  class="editor-plugin-btn fas fa-solid fa-plus"
></button>
<!-- Main Menu -->
<mat-menu #rootMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="addSlideMenu">
    <i class="menu-icon fas fa-chevron-right"></i> Slide
  </button>
  <button mat-menu-item [matMenuTriggerFor]="addMermaidDiagramsMenu">
    <i class="menu-icon fas fa-project-diagram"></i> Mermaid Diagrams
  </button>
  <button mat-menu-item [matMenuTriggerFor]="addChartJsDiagramsMenu">
    <i class="menu-icon fas fa-chart-bar"></i> ChartJs Diagrams
  </button>
  <button mat-menu-item [matMenuTriggerFor]="addAnimationMenu">
    <i class="menu-icon fas fa-film"></i> Animations
  </button>
  <button mat-menu-item [matMenuTriggerFor]="addBackgroundsMenu">
    <i class="menu-icon fas fa-image"></i> Backgrounds
  </button>
  <button mat-menu-item [matMenuTriggerFor]="addTransitionMenu">
    <i class="menu-icon fas fa-exchange-alt"></i> Transition
  </button>
  <button mat-menu-item [matMenuTriggerFor]="addOthersMenu">
    <i class="menu-icon fas fa-ellipsis-h"></i> Others
  </button>
</mat-menu>

<!-- Add Slide Transition -->
<mat-menu #addTransitionMenu="matMenu">
  <button mat-menu-item (click)="onClick('transitionZoom')">
    <i class="menu-icon fas fa-search-plus"></i> Zoom
  </button>
  <button mat-menu-item (click)="onClick('transitionSlide')">
    <i class="menu-icon fas fa-arrows-alt-h"></i> Slide
  </button>
  <button mat-menu-item (click)="onClick('transitionFade')">
    <i class="menu-icon fas fa-adjust"></i> Fade
  </button>
  <button mat-menu-item (click)="onClick('transitionNone')">
    <i class="menu-icon fas fa-ban"></i> None
  </button>
</mat-menu>


<!-- Add Next Slide Menu -->
<mat-menu #addSlideMenu="matMenu">
  <button mat-menu-item (click)="onClick('slide')">
    <i class="menu-icon fas fa-chevron-right"></i> Slide
  </button>
  <button mat-menu-item (click)="onClick('verticalSlide')">
    <i class="menu-icon fas fa-chevron-down"></i> Vertical Slide
  </button>
</mat-menu>

<!-- Add Mermaid Diagrams Menu -->
<mat-menu #addMermaidDiagramsMenu="matMenu">
  
  <!-- Basic Diagrams -->
  <button mat-menu-item [matMenuTriggerFor]="basicDiagramsMenu">
    <i class="menu-icon fas fa-sitemap"></i> Basic Diagrams
  </button>
  <mat-menu #basicDiagramsMenu="matMenu">
    <button mat-menu-item (click)="onClick('flowchart')">
      <i class="menu-icon fas fa-sitemap"></i> Flowchart
    </button>
    <button mat-menu-item (click)="onClick('flowchartSteps')">
      <i class="menu-icon fas fa-sitemap"></i> Flowchart Steps
    </button>
    <button mat-menu-item (click)="onClick('sequenceDiagram')">
      <i class="menu-icon fas fa-exchange-alt"></i> Sequence 
    </button>
    <button mat-menu-item (click)="onClick('sequenceDiagramSteps')">
      <i class="menu-icon fas fa-exchange-alt"></i> Sequence Steps  
    </button>
    <button mat-menu-item (click)="onClick('classDiagram')">
      <i class="menu-icon fas fa-code-branch"></i> Class Diagram
    </button>
  </mat-menu>

  <!-- Advanced Visualizations -->
  <button mat-menu-item [matMenuTriggerFor]="advancedVisualizationsMenu">
    <i class="menu-icon fas fa-stream"></i> Advanced Visualizations
  </button>
  <mat-menu #advancedVisualizationsMenu="matMenu">
    <button mat-menu-item (click)="onClick('stateDiagram')">
      <i class="menu-icon fas fa-stream"></i> State Diagram
    </button>
    <button mat-menu-item (click)="onClick('entityRelationshipDiagram')">
      <i class="menu-icon fas fa-link"></i> Entity Relationship 
    </button>
    <button mat-menu-item (click)="onClick('userJourney')">
      <i class="menu-icon fas fa-user"></i> User Journey
    </button>
  </mat-menu>

  <!-- Project Management -->
  <button mat-menu-item [matMenuTriggerFor]="projectManagementMenu">
    <i class="menu-icon fas fa-tasks"></i> Project Management
  </button>
  <mat-menu #projectManagementMenu="matMenu">
    <button mat-menu-item (click)="onClick('gantt')">
      <i class="menu-icon fas fa-tasks"></i> Gantt
    </button>
    <button mat-menu-item (click)="onClick('timeline')">
      <i class="menu-icon fas fa-hourglass-start"></i> Timeline
    </button>
  </mat-menu>

  <!-- Data Presentation -->
  <button mat-menu-item [matMenuTriggerFor]="dataPresentationMenu">
    <i class="menu-icon fas fa-chart-pie"></i> Data Presentation
  </button>
  <mat-menu #dataPresentationMenu="matMenu">
    <button mat-menu-item (click)="onClick('pieChart')">
      <i class="menu-icon fas fa-chart-pie"></i> Pie Chart
    </button>
    <button mat-menu-item (click)="onClick('quadrantChart')">
      <i class="menu-icon fas fa-chart-area"></i> Quadrant Chart
    </button>
    <button mat-menu-item (click)="onClick('sankey')">
      <i class="menu-icon fas fa-project-diagram"></i> Sankey
    </button>
  </mat-menu>

  <!-- Specialized Diagrams -->
  <button mat-menu-item [matMenuTriggerFor]="specializedDiagramsMenu">
    <i class="menu-icon fas fa-brain"></i> Specialized Diagrams
  </button>
  <mat-menu #specializedDiagramsMenu="matMenu">
    <button mat-menu-item (click)="onClick('mindmap')">
      <i class="menu-icon fas fa-brain"></i> Mindmap
    </button>
    <button mat-menu-item (click)="onClick('mindmapSteps')">
      <i class="menu-icon fas fa-brain"></i> Mindmap Steps
    </button>
    <button mat-menu-item (click)="onClick('gitgraphGitDiagram')">
      <i class="menu-icon fas fa-code-branch"></i> Gitgraph (Git) Diagram
    </button>
  </mat-menu>

  <!-- Docs -->
  <button mat-menu-item (click)="openInNewTab('https://mermaid.js.org/intro/')">
    <i class="menu-icon fas fa-question-circle"></i> Mermaid Docs
  </button>

</mat-menu>

<!-- Add ChartJs Diagrams Menu -->
<mat-menu #addChartJsDiagramsMenu="matMenu">
    <!-- Bar Charts -->
    <button mat-menu-item (click)="onClick('barChart')">
      <i class="menu-icon fas fa-chart-bar"></i> Bar Chart
    </button>
    
    <button mat-menu-item (click)="onClick('lineChart')">
      <i class="menu-icon fas fa-chart-line"></i> Line Chart
    </button>
    
    <button mat-menu-item (click)="onClick('bubbleChart')">
      <i class="menu-icon fas fa-circle"></i> Bubble Chart
    </button>
    
    <button mat-menu-item (click)="onClick('pieChart')">
      <i class="menu-icon fas fa-chart-pie"></i> Pie Chart
    </button>
    
    <!-- Stacked Bar Chart can use the general bar chart icon -->
    <button mat-menu-item (click)="onClick('stackedBarChart')">
      <i class="menu-icon fas fa-chart-bar"></i> Stacked Bar Chart
    </button>
    
  <!-- Docs -->
  <button mat-menu-item (click)="openInNewTab('https://www.chartjs.org/docs/latest/samples/information.html')">
    <i class="menu-icon fas fa-question-circle"></i> Chart.Js Docs
  </button>
</mat-menu>

<!-- Add Animation Menu -->
<mat-menu #addAnimationMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="fragmentsMenu">
    <i class="menu-icon fas fa-layer-group"></i>Steps 
  </button>
  <!-- fragments Menu -->
  <mat-menu #fragmentsMenu="matMenu">
    <button mat-menu-item (click)="onClick('fragmentText')">
      <i class="menu-icon fas fa-font"></i>Text 
    </button>
    <button mat-menu-item (click)="onClick('flowchartSteps')">
      <i class="menu-icon fas fa-sitemap"></i> Mermaid Flowchart 
    </button>
    <button mat-menu-item (click)="onClick('sequenceDiagramSteps')">
      <i class="menu-icon fas fa-exchange-alt"></i> Mermaid Sequence 
    </button>
    <button mat-menu-item (click)="onClick('mindmapSteps')">
      <i class="menu-icon fas fa-brain"></i> Mermaid Mindmap 
    </button>
    <button mat-menu-item (click)="onClick('fragmentStackImages')">
      <i class="menu-icon fas fa-images"></i>Stacked Images 
    </button>
    <button mat-menu-item (click)="onClick('fragmentStackImagesIndex')">
      <i class="menu-icon fas fa-list-ol"></i>Stacked Images Index 
    </button>
    <button mat-menu-item (click)="openInNewTab('https://revealjs.com/fragments/')">
      <i class="menu-icon fas fa-question-circle"></i> Docs
    </button>
  </mat-menu>
  <button mat-menu-item [matMenuTriggerFor]="autoAnimateMenu">
    <i class="menu-icon fas fa-play-circle"></i>Auto Animate
  </button>
  <!-- Auto animate Menu -->
  <mat-menu #autoAnimateMenu="matMenu">
    <button mat-menu-item (click)="onClick('autoAnimateText')">
      <i class="menu-icon fas fa-arrows-alt-h"></i>Text Movement 
    </button>
    <button mat-menu-item (click)="onClick('autoAnimateHeight')">
      <i class="menu-icon fas fa-arrows-alt-v"></i>Height Movement 
    </button>
    <button mat-menu-item (click)="onClick('autoAnimateCode')">
      <i class="menu-icon fas fa-code"></i>Code Block Movement 
    </button>
    <button mat-menu-item (click)="openInNewTab('https://revealjs.com/auto-animate/')">
      <i class="menu-icon fas fa-question-circle"></i> Docs
    </button>
  </mat-menu>
</mat-menu>



<!-- Add Backgrounds Menu -->
<mat-menu #addBackgroundsMenu="matMenu">
  <button mat-menu-item (click)="onClick('colorBackground')">
    <i class="menu-icon fas fa-fill"></i> Color Background
  </button>
  <button mat-menu-item (click)="onClick('imageBackground')">
    <i class="menu-icon fas fa-image"></i> Image Background
  </button>
  <button mat-menu-item (click)="onClick('videoBackground')">
    <i class="menu-icon fas fa-video"></i> Video Background
  </button>
  <button mat-menu-item (click)="onClick('iframeBackgrounds')">
    <i class="menu-icon fas fa-window-restore"></i> Iframe Backgrounds
  </button>
</mat-menu>


<!-- Add Others Menu -->
<mat-menu #addOthersMenu="matMenu">
  <button mat-menu-item (click)="onClick('media')">
    <i class="menu-icon fas fa-photo-video"></i> Media
  </button>
  <button mat-menu-item (click)="onClick('iframes')">
    <i class="menu-icon fas fa-window-restore"></i> Iframes
  </button>
  <button mat-menu-item (click)="onClick('math')">
    <i class="menu-icon fas fa-square-root-alt"></i>Math Equation
  </button>
  <button mat-menu-item (click)="onClick('codeBlock')">
    <i class="menu-icon fas fa-code"></i>Code Block
  </button>
  <button mat-menu-item (click)="onClick('autoSlideSpeed')">
    <i class="menu-icon fas fa-play"></i>Auto Play Speed
  </button>
</mat-menu>
