.editor-plugin-btn {
    margin-left: auto;
    display: block;
    margin-top: 0px;
  
  }

  .menu-icon {
    min-width: 23px;
    text-align: center;
  }

  /*****TUI ****/
  button.editor-plugin-btn { 
    background-color: unset;
  }

  button.editor-plugin-btn:hover  {
    background-color: #fff;
    border: 1px solid #e4e7ee;
  }

