.editor-plugin-btn {
    margin-left: auto;
    display: block;
    margin-top: 0px;
  }


  /*****TUI ****/
  button.editor-plugin-btn { 
    background-color: unset;
  }

  button.editor-plugin-btn:hover  {
    background-color: #fff;
    border: 1px solid #e4e7ee;
  }
