.toggle-container mat-slide-toggle {
    display: block; /* Each toggle on a new line */
    margin-bottom: 18px; /* Space between toggles */
  }
  
  .dropdown-field {
    width: 100%;
    margin-top: 8px;
  }
  