.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #e0e0e0; /* Adds a top border */
    padding: 10px 0; /* Some padding for breathing space */
}

.textarea-wrapper {
    position: relative; /* To position the send button absolutely */
    width: 100%;
}

.input-textarea {
    width: 100%;
    height: 80px;
    resize: none;
    padding-right: 50px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 14px;      /* Increase font size */
    font-family: Arial, sans-serif;  /* Set a more readable font family */
    padding: 4px;         /* Add some padding around the text */
    line-height: 1.4;     /* Improve line spacing */
}


.send-button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* Angular Material specific overrides (if needed) */
.mat-form-field {
    width: 100%;
    /* Other styles */
}