<div class="input-container">
    <div class="textarea-wrapper">
        <textarea [(ngModel)]="searchString" class="input-textarea" placeholder="Type your message..."></textarea>
        <!-- Send button positioned relative to the wrapper -->
        <button [disabled]="processing$ | async" (click)="onAssistanceClick()" class="send-button">
            <svg width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor" d="M2,21L23,12L2,3V10L17,12L2,14V21Z" />
            </svg>
        </button>
    </div>
</div>
