:host {
  display: block;
  background-color: white;
}

.editor-textarea-field {
    width: 100%;
    margin-top: 10px;
    flex-grow: 1; /* Allow it to grow to occupy available space */
  }
  
  .editor-textarea {
    height: 60vh!important; /* Set height to 60vh */
  }
  
  .editor-button {
    margin-left: auto;
    display: block;
   
  }


  /*****TUI ****/
  button.editor-button { 
    background-color: unset;
  }

  button.editor-button:hover  {
    background-color: #fff;
    border: 1px solid #e4e7ee;
  }

  .toastui-editor-contents h1, h2, h3 {
    border-bottom: 0px!important;
  }

  /* Media query for further adjustments for smaller screens */
@media (max-width: 600px) {
    .editor-container {
      padding: 5px;
    }
  
    .editor-textarea {
      font-size: 12px;
      height: 30vh;
    }
  }

  .mat-expansion-panel-body {
    padding: 0 12px 16px!important;
  }

  