<!-- <button mat-icon-button [matMenuTriggerFor]="myMenu" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #myMenu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu> -->

<!-- <mat-form-field class="editor-textarea-field">
  <mat-label>Edit markdown</mat-label>
  <textarea
    matInput
    class="editor-textarea"
    [ngModel]="markdown"
    (input)="onTextareaChange($event)"
  ></textarea>
</mat-form-field> -->
