<button mat-icon-button *ngIf="!isViewMode" (click)="toggleEditor()" class="menu-icon">
  ☰
</button>
<div class="loading-container" *ngIf="isLoading$ | async">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  <p>Loading...</p>
</div>
<mat-sidenav-container  class="main-container">
  <mat-sidenav *ngIf="!isViewMode" #editorSidenav mode="side" [(opened)]="editorVisible" class="main-editor">
    <ng-container *ngIf="editorInitState$ | async as editor">
      <mono-repo-editor [editor]="editor" [id]="(savedValues$ | async)?.id ?? 0" [name]="(savedValues$ | async)?.name ?? ''" (onEditorClose)="toggleEditor()"></mono-repo-editor>
    </ng-container>
   
  </mat-sidenav>

  <mat-sidenav-content  class="main-viewer">
    <ng-container *ngIf="editor$ | async as editor">
      <mono-repo-viewer *ngIf="editor?.toggleViewer" [editor]="editor" class="main-viewer"></mono-repo-viewer>
      <mono-repo-viewer *ngIf="!editor?.toggleViewer" [editor]="editor" class="main-viewer"></mono-repo-viewer>
    </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>
