<div class="main-container" [class.editor-visible]="editorVisible">
    <div class="menu-icon" (click)="toggleEditor()">
      ☰
    </div>
  
    <mono-repo-editor *ngIf="editorVisible" (contentChange)="updateContent($event)" class="main-editor"></mono-repo-editor>
    <mono-repo-viewer *ngIf="toggleViewer" [content]="(content$ | async)" class="main-viewer"></mono-repo-viewer>
    <mono-repo-viewer *ngIf="!toggleViewer" [content]="(content$ | async)" class="main-viewer"></mono-repo-viewer>
  </div>