<button mat-icon-button (click)="toggleEditor()" class="menu-icon">
  ☰
</button>

<mat-sidenav-container class="main-container">
  <mat-sidenav #editorSidenav mode="side" [(opened)]="editorVisible" class="main-editor">
     <!-- Close Button -->
     <button mat-icon-button (click)="closeSidenav()" class="close-button">
      <mat-icon>close</mat-icon>
    </button>
    <mono-repo-editor (contentChange)="updateContent($event)"></mono-repo-editor>
  </mat-sidenav>

  <mat-sidenav-content  class="main-viewer">
    <mono-repo-viewer *ngIf="toggleViewer" [content]="(content$ | async)" class="main-viewer"></mono-repo-viewer>
    <mono-repo-viewer *ngIf="!toggleViewer" [content]="(content$ | async)" class="main-viewer"></mono-repo-viewer>
  </mat-sidenav-content>
</mat-sidenav-container>
