
.top-row {
    display: flex;
    flex-direction: row;
  }
  
  .presentation-input {
    flex: 7; /* 70% width */
    height: 100%;
  }
  
  .publish-button {
    flex: 3; /* 30% width */
    height: 48px;
    margin-top: 5px;
    margin-left: 5px;
  }
  
  .input-field,
  .dropdown-field {
    width: 100%;
  }

  .toggle-container mat-slide-toggle {
    display: block; /* Each toggle on a new line */
    margin-bottom: 10px; /* Space between toggles */
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }