<div class="viewer-container">
  <div id="revealDiv" class="reveal">
    <div class="slides">
      <!-- <section
        data-separator="\r?\n---\r?\n"
        data-separator-vertical="^(#{3} |\|\|\|$)"
        data-separator-notes="^\s*notes?:"
        data-attributes='\.slide:\s*?(\S.+?)$'
        data-element-attributes="\.element\s*?(.+?)$" -->
      <section data-markdown 
               data-separator="(?:\r?\n)?\s*---+\s*(?:\r?\n)"
               data-separator-vertical="(?:\r?\n)?\s*\*\*\*+\s*(?:\r?\n)"               >
        {{ editor.content }}
      </section>
    
    </div>

  </div>
</div>
