<div class="viewer-container">
  <div id="revealDiv" class="reveal">
    <div class="slides">
      <!-- <section
        data-separator="\r?\n---\r?\n"
        data-separator-vertical="^(#{3} |\|\|\|$)"
        data-separator-notes="^\s*notes?:"
        data-attributes='\.slide:\s*?(\S.+?)$'
        data-element-attributes="\.element\s*?(.+?)$" -->
      <section data-markdown>
        {{ editor.content }}
      </section>
      <!-- Auto Animate
      Reveal.initialize({
          autoAnimateEasing: 'ease-out',
          autoAnimateDuration: 0.8,
          autoAnimateUnmatched: false
        })  
      -->
      <section data-auto-animate>
        <div data-id="box" style="height: 50px; background: salmon;"></div>
      </section>
      <section data-auto-animate>
        <div data-id="box" style="height: 200px; background: blue;"></div>
      </section>
      
    </div>

  </div>
</div>
