
.reveal {
    width: auto;
    height: 100vh;
}

.mermaid {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    overflow-x: auto;
    max-width: 88vh;
    max-height: 68vh;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*****Overwrites Reveal *****/

code.mermaid.hljs.mathematica {
    max-height: 50vh;
}

:root {
    --r-heading-text-transform: none!important;
}

#customcontrols {
    position: absolute!important;
    left: 4px!important;
    top: 14px!important;
    bottom: unset!important;
}

#customcontrols > ul {
    position: unset!important;
}

.reveal .playback {
    right: 15px!important;
    top: 20px!important;  
    left: unset!important;
}

/************** check box *******************/
.reveal ul li:has(> input[type="checkbox"]) {
    list-style: none;
}
.reveal ul li input[type="checkbox"] {
    width: 2em;
    height: 2em;
    margin: 0 1em 0.5em -1.6em;
    vertical-align: middle;
}
