
.reveal {
    width: auto;
    height: 100vh;
}

/*****Overwrites Reveal *****/

code.mermaid.hljs.mathematica {
    max-height: 50vh;
}

:root {
    --r-heading-text-transform: none!important;
}

#customcontrols {
    position: absolute!important;
    left: 4px!important;
}

#customcontrols > ul {
    position: unset!important;
}