/* You can add global styles to this file, and also import other style files */
/******************* Reveal overwrite**************************/
.mermaid {
    text-align:center;
}

.present h5 {
    font-size: 0.7em;
}

.present h6 {
    font-size: 0.4em;
}
/********************* Mermaid overrite **********************/

.mermaid .edgeLabel {
    background-color: var(--r-background-color)!important; 
   
}